# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_NAME="Telu Tell Us"
PREFIX_NAME="telu-tell-us"
ALLOWED_ORIGINS="*"
PORT=5000
NODE_ENV="development"
DATABASE_URL="postgresql://postgres:root@localhost:5432/telu-tell-us?schema=public"

KV_URL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""


GITHUB_ID=""
GITHUB_SECRET=""


# Azure Storage
AZURE_STORAGE_ACCOUNT=""
AZURE_STORAGE_CONTAINER=""

AZURE_STORAGE_KEY=""
KB_FIELDS_CONTENT=""
KB_FIELDS_SOURCEPAGE=""



# Azure OpenAI
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHATGPT_DEPLOYMENT=""
AZURE_OPENAI_CHATGPT_MODEL=""
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""
AZURE_OPENAI_EMBEDDING_MODEL=""
AZURE_OPENAI_SERVICE=""

# Azure Cognitive Search
AZURE_SEARCH_INDEX=""
AZURE_SEARCH_SERVICE=""
AZURE_COGNITIF_API_KEY=""
